<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fxlt.test1.mapper.TPjModule1UserMapper">

    <resultMap id="BaseResultMap" type="com.fxlt.test1.bean.TPjModule1User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="userName" column="user_name" jdbcType="VARCHAR"/>
            <result property="roleId" column="role_id" jdbcType="INTEGER"/>
            <result property="creatTime" column="creat_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="removeFlag" column="remove_flag" jdbcType="INTEGER"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <result property="loginName" column="login_name" jdbcType="VARCHAR"/>
            <result property="loginPassword" column="login_password" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,user_name,
        role_id,creat_time,update_time,
        remove_flag,state,login_name,
        login_password
    </sql>
</mapper>
